export(
       add.test,
       contingency.periodogram,
       lin.order.cls,
       lin.test,
       ll.order,
       ll.edm,
       lpx,
       mkx,
       portman.Q,
       prediction.profile.ll,
       spec.lomb,
       specar.ci,
       summary.lin.order,
       summary.ll.order,
       summary.lomb,
       summary.specar.ci
       )
S3method(plot,contingency.periodogram)
S3method(plot,lin.order)
S3method(plot,ll.order)
S3method(plot,lomb)
S3method(plot,ppll)
S3method(plot,specar.ci)
S3method(print,ll.order)
S3method(predict,ll.order)
S3method(summary,lin.order)
S3method(summary,ll.order)
S3method(summary,lomb)
S3method(summary,specar.ci)
importFrom(acepack,ace)
importFrom(stats,lm)
importFrom(stats,pchisq)
importFrom(stats,fisher.test)
importFrom(stats,chisq.test)
importFrom(stats,var)
importFrom(stats,residuals)
importFrom(stats,lm)
importFrom(stats,pf)
importFrom(locfit,locfit.raw)
importFrom(locfit,dat)
importFrom(stats,residuals)
importFrom(graphics,plot)
importFrom(graphics,lines)
importFrom(stats,qchisq)
importFrom(stats,acf)
importFrom(stats,predict)
importFrom(stats,ar)
importFrom(stats,ar.mle)
importFrom(stats,spec.ar)
importFrom(stats,rnorm)
importFrom(stats,quantile)
importFrom(stats,rnorm)


